.AboutMe {
  display: grid;
  text-align: center;
  grid-template-columns: 1fr 2fr;
  grid-gap: 1px;
  color: #FFFFFF;
  font-family: 'Courier New', monospace;
  padding-left: 20px;
  padding-right: 20px;
  
}

a {
  text-decoration: none;
}

a:link {
  color: #D47284;
}

a:visited {
  color: #D47284;
}

a:hover {
  color: #EDAA84;
}
