.App {
  background: url('../assets/images/darkmode.png');
  font-family: 'Courier New', monospace;
  background-attachment: fixed;
  font-size: x-large;
}

h2 {
  color: white
}

p {
  color: white;
}

a:link {
  color: #D47284;
}

a:visited {
  color: #D47284;
}

a:hover {
  color: #EDAA84;
}
