.container{
  font-family: 'Courier New', monospace;
  font-size: x-large;
  display: flex;
  text-align: center;
  flex-wrap: wrap;
  justify-content: center;
}

.icon{
  color: white;
  padding: 0.5em;
  font-size: 60px
}

.icon:hover {
  color: #D47284;
}

