.dark {
  background: linear-gradient(109.6deg, rgb(36, 45, 57) 11.2%, rgb(16, 37, 60) 51.2%, rgb(0, 0, 0) 98.6%);
  font-family: 'Courier New', monospace;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  font-size: x-large;
  color: white;
}

.light {
  background: linear-gradient(90deg, rgba(255,254,254,1) 0%, rgba(254,243,179,1) 100%);
  font-family: 'Courier New', monospace;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  font-size: x-large;
  color: black;
}

p {
  text-align: center;
}

a:link {
  color: #D47284;
}

a:visited {
  color: #D47284;
}

a:hover {
  color: #EDAA84;
}

.area {
  position: absolute;
  width: 200px;
  height: 200px;
  animation: swing 1s infinite ease-in-out alternate;
  transform-origin: top;
  -moz-transform-origin: top;
  -webkit-transform-origin: top;
}

.wire {
  position: relative;
  left: 98px;
  height: 100px;
  width: 4px;
  background-color: black;
}

.fixture {
  position: relative;
  background-color: grey;
  width: 16px;
  height: 20px;
  left: 92px;
}

.strip {
  position: relative;
  width: 18px;
  height: 2px;
  right: 1px;
  top: 4px;
  background-color: darkgrey;
}

.strip:nth-of-type(2) {
  top: 7px;
}

.strip:nth-of-type(3) {
  top: 10px;
}

.bulb {
  position: relative;
  width: 40px;
  height: 40px;
  left: 80px;
  bottom: 2px;
  z-index: -1;
  background-color: rgba(226, 211, 161, 0.85);
  border-radius: 50%;
  -webkit-box-shadow: 0px 0px 300px 77px rgba(235, 209, 164, 1);
  -moz-box-shadow: 0px 0px 300px 77px rgba(235, 209, 164, 1);
  box-shadow: 0px 0px 300px 77px rgba(235, 209, 164, 1);
}

.zig {
  position: relative;
  background-color: transparent;
  width: 10px;
  height: 5px;
  border-radius: 5px / 2.5px;
  left: 14px;
  border: black solid 1px;
}

.zig:nth-of-type(2) {
  top: -3px;
}

.zig:nth-of-type(3) {
  top: -6px;
}

@keyframes swing {
  from {
      -moz-transform: rotate(3deg);
      -webkit-transform: rotate(3deg);
      transform: rotate(3deg);
  }
  to {
      transform: rotate(-3deg);
  }
}

@media screen and (max-width: 600px) {
  .wire {
    height: 150px;
  }
}
