.nav {
  position: sticky;
  top: 0;
  background: #777;
  box-sizing: border-top;
  margin: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  padding: 0 1rem;
  box-shadow: 5.4px 10.7px 10.7px hsl(0deg 0% 0% / 0.33);
}

.nav ul {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  gap: 1rem;
}

.site-title {
  font-size: 2rem;;
  text-align: right;
}

.nav a {
  color: inherit;
  text-decoration: underline 0.10em rgba(255, 255, 255, 0);
  transition: text-decoration-color 300ms;
}

.nav a:hover {
  text-decoration-color: #D47284;;
}

@media screen and (max-width: 600px) {
  .nav ul {
    display: block;
  }
}
