.Projects {
  text-align: center;
  padding-top: 1px;
  flex-wrap: wrap;
  justify-content: center;
  padding-left: 40px;
  padding-right: 40px;
  box-shadow: 5.4px 10.7px 10.7px hsl(0deg 0% 0% / 0.33);
}

.images {
  width: 50%;
  height: auto;
  min-width: 225px;
  --c: #93cd87; /* the border color */
  --b: 5px; /* the border thickness*/
  --g: 5px; /* the gap on hover */

  padding: calc(var(--g) + var(--b));
  --_g: #0000 25%, var(--c) 0;
  background: conic-gradient(
        from 180deg at top var(--b) right var(--b),
        var(--_g)
      )
      var(--_i, 200%) 0 /200% var(--_i, var(--b)) no-repeat,
    conic-gradient(at bottom var(--b) left var(--b), var(--_g)) 0
      var(--_i, 200%) / var(--_i, var(--b)) 200% no-repeat;
  transition: 0.3s, background-position 0.3s 0.3s;
  cursor: pointer;
}
img:hover {
  --_i: 100%;
  transition: 0.3s, background-size 0.3s 0.3s;
}

a {
  text-decoration: none;
}
