.Projects{
  display: grid;
  text-align: center;
  grid-gap: 1px;
  color: #FFFFFF;
  font-family: 'Courier New', monospace;
}

.images {
  width: 500px;
  height: auto;
}

a {
  text-decoration: none;
}

a:link {
  color: #D47284;
}

a:visited {
  color: #D47284;
}

a:hover {
  color: #EDAA84;
}
